<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="Cupcakes/public/styles/styles.css" />
    <script src="index.js"></script>
</head>
<body>
        <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/inventory">Fresh Baked</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/order">Order</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/customize">Customize </a>
                </li>
         </ul>

      <img src="Cupcakes/public/images/cupcakeBackground.jpg" class="img-fluid" alt="Responsive image">
      <div class="jumbotron">
        <h1 class="display-4">Mama Cupcakes</h1>
        <p class="lead">We baked like mama would on a Saturday mornings.</p>
        <hr class="my-4">
        <p>Dive into our cupcakes.</p>
        <p class="lead">
          <a class=" btn btn-primary btn-lg " href="Cupcakes/public/views/order.html" role=" button">Order Now</a>
        </p>
</body>



</html>