
#intro, {
    height: 100%;
}

#intro {
    background: url("https://b-ssl.duitang.com/uploads/item/201408/19/20140819145404_fUMUT.thumb.1400_0.jpeg")no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}