<header>
  <div class="mainPage">
    <p> 
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Magni tenetur cum ab natus officia fuga quae asperiores 
      accusantium alias necessitatibus, veniam totam at sunt 
      reiciendis aperiam cumque, minima odio quod.
    </p>
  </div>
</header>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
